<div class="book">
  <div class="header">
    <h1>{{book.title}}</h1>
    <h6>{{author-list book}}</h6>
  </div>
  <div class="row">
    <div class="image">
      <img src="http://placekitten.com/g/200/300">
    </div>
    <div>
      {{#if book.readOn}}
      <h6>Read on:</h6><date>{{format-date book.readOn}}</date>
      <br>
      <br>
      {{/if}}
      <h6>In lists:</h6>
      <ul>
        {{#each list in book.lists}}
        <li>{{list.name}}</li>
        {{/each}}
      </ul>
      <input placeholder="Add to list">
    </div>
  </div>
  <div>
    <form {{action "saveNote" on="submit"}}>
      <label>Notes:</label>
      {{textarea value=book.note}}
      <input type=submit value="Save">
    </form>
  </div>
</div>
